<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <link rel="stylesheet" href="../styles/index.scss">
    <title>Hello world</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>Non exercitation Lorem dolore aliquip anim fugiat tempor sunt. Commodo exercitation nulla nostrud culpa proident qui laboris. <a href="./temp.njk">Sit dolore incididunt</a> fugiat irure ipsum et amet sunt irure. Incididunt consequat sit enim ullamco fugiat voluptate officia culpa mollit consectetur qui aute.</p>
    
    <p><img style="max-width: 300px;" src="../images/deadline.gif" alt=""></p>
    
    {% include "./components/module.njk" %}
    
    {% include "./components/module2.html" %}

    <script src="../js/index.js"></script>
</body>
</html>