/**/
.div1 {
    background-color: gray;
}

.div2 {
    background-color: green;
}
.div3 {
    background-color: pink;
}
.yellow {
    background-color: yellow;
}
.warn {
    color: red;
    font-weight: bold;
}
.numMax {
    background: red;
    color:white;
}
.numMin {
    background: green;
    color:white;
}
.bold {
    font-weight: bold;
}
.my-table {
    border: 1px solid black;
}
p {
    border: 1px solid blueviolet;
    padding: 3px;
}